<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Películas y Series</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/card-season.css" />
    <link rel="stylesheet" href="/css/temporada.css" />
    <link
      rel="shortcut icon"
      href="/public/img/favicon/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body></body>
</html>
