<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Visualización de Video</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
    <link
      rel="shortcut icon"
      href="/public/img/favicon/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>Visualización de Video</h1>

    <video
      id="videoPlayer"
      class="plyr"
      controls
      preload="auto"
      width="640"
      height="480"
    >
      <source src="<%=videoPath %>" type="video/mp4" />
    </video>
    <h2><%=videoPath%></h2>
    <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
    <script>
      const player = new Plyr("#videoPlayer");
    </script>
  </body>
</html>
