<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Visualización de Video</title>
  </head>
  <body>
    <h1>Visualización de Video</h1>

    <video width="640" height="480" controls>
      <source src="<%= videoPath %>" type="video/mp4" />
    </video>
  </body>
</html>
