/* temporada.css */

.season-header {
  font-size: 24px;
  margin: 20px 0;
}

.videos-container {
  display: flex;
  flex-direction: column;
}

.video-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.video-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.no-videos {
  font-size: 16px;
  margin-top: 20px;
  color: #999;
}


/* temporada.css */

/* ... Tus otros estilos ... */

/* Estilos para el popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #f44336;
}